Authentication issue with OAuth 2.0  servers that do not support request-body token authentication

We've been experiencing an authentication issue when using machine-to-machine authentication (although the problem is not limited to this use case) with one of our providers.
When trying to authenticate with the provider, whether by direct use of startClientLogin, or via refresh (which used this function), we would receive a "Failed to fetch tokens".

After some investigation, we found the root cause to be this:
You seem to send the client_id and client_secret in the body of the client credentials request.
https://github.com/medplum/medplum/blob/main/packages/core/src/client.ts#L3647

However, this causes an error when we try to authenticate with our provider since they don't support this method, but only support header authentication (since the Auth2 specs specify that header authentication MUST be supported but that request-body MAY be supported).
https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1


I am somewhat weary of offering a PR for that myself since authentication changes could undoubtably impact a variety of things in your framework but I was hoping there could be some resolution to this, perhaps an optional flag to choose between the two if no better way?

Hi @elaye-canopy  - Thank you for reporting this issue!

You are absolutely correct about the OAuth 2.0 specification (RFC 6749 Section 2.3.1) - servers MUST support credentials in the Authorization header, while request body authentication is optional. This can indeed cause issues with certain OAuth providers that only support the header method.

Given that this affects our authentication system, we want to approach any changes carefully to avoid breaking existing implementations. After reviewing the specification and considering the backwards compatibility implications, we plan to:

1. Add a new `credentialsInHeader` option to `startClientLogin()` that will allow sending credentials via HTTP Basic Authentication header
2. Maintain the current body-based authentication as the default behavior for backwards compatibility
3. Document the header-based approach as the recommended method for new implementations

This should provide a path forward for users who need header-based authentication while ensuring existing integrations continue to work as expected.

In the meantime, if you need an immediate solution, you can work around this by configuring your MedplumClient to include the Authorization header in the token endpoint request.

```ts
      medplum.setBasicAuth(clientId, clientSecret);
      await medplum.startClientLogin(clientId, clientSecret);
```

While not the most elegant solution, it should unblock your integration until we can implement the more robust solution above.

Thank you again for bringing this to our attention and for the detailed explanation of the problem!

@codyebberson Thank you for the quick response.

If I could just make one suggestion - could I suggest to add that as an option to the client rather than the header?
If this was only an option of the startClientLogin header then when you perform the refresh you will be facing the same issue:
https://github.com/medplum/medplum/blob/bf22d6e266e00d4e5ce512368661c572329f4d22/packages/core/src/client.ts#L3623

Also, while we're on the subject, if it is not a breaking change, would it be possible to make it so that the client will send either header authentication or body authentication, but not both (as it is redundant)?

